@using KampongTalk.Tools
@inject IUserAttributes UserAttributes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - KampongTalk</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <script src="https://cdn.jsdelivr.net/npm/node-vibrant@3.2.1-alpha.1/dist/vibrant.min.js" integrity="sha256-6mcoajgXAcE4fnc/lZrvN4omfFGDkS9tOl0h+tZQpUk=" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Sans+Tamil:wght@400;700&display=swap" rel="stylesheet">
    <style>
        *, .button, a, input {
            font-family: 'Atkinson Hyperlegible', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans Tamil', 'Helvetica Neue', sans-serif;
        }
    </style>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js" integrity="sha512-ifx27fvbS52NmHNCt7sffYPtKIvIzYo38dILIVHQ9am5XGDQ2QjSXGfUZ54Bs3AXdVi7HaItdhAtdhKz8fOFrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="turbolinks-cache-control" content="no-cache">

    <link rel="stylesheet" href="/css/profile_community_posts.css"/>
    
    <script>
        Turbolinks.start()
    </script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).on('turbolinks:click', function () {
            
            $('#main').fadeOut(250, () => {
                // return $('#loading-skeleton-section').fadeOut(100);
            });
        });
        $(document).on('turbolinks:load', function () {
            setTimeout(() => {
                // $('#loading-skeleton-section').fadeOut(100, () => {
                    return $('main').fadeIn(250);
                // });
            }, 0)
        });
    </script>

    @{
        switch (UserAttributes.getTextSize())
        {
            case "large":
                <style>
                    * {
                        font-size: 100%
                    }
                </style>
                break;
            case "larger":
                <style>
                    * {
                        font-size: 105%
                    }
                </style>
                break;
            case "largest":
                <style>
                    * {
                        font-size: 110%
                    }
                </style>
                break;
            default:
                <style>
                    * {
                        font-size: 100%
                    }
                </style>
                break;
        }
    }

</head>
<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="/Index">
                KampongTalk
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-item" style="width: 70%; margin: 0 auto;">
                <form method="get" action="/Search" style="width: 100%">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-light" type="text" asp-for="@ViewData["SearchField"]" name="q" placeholder="Search KampongTalk">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                            @*  *@
                        </p>
                    </div>
                </form>
            </div>

            <div class="navbar-end">
                @if (!UserAttributes.isLoggedIn())
                {
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="/Accounts/Register">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/Accounts/Login">
                                Log in
                            </a>
                        </div>
                    </div>
                }
                // IF user is logged in, show this
                else
                {

                }
            </div>
        </div>
    </div>
</nav>

<main style="display: none">
    @RenderBody()
    
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; 2022 - KampongTalk - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </p>
        </div>
    </footer>
</main>
@* <script src="~/js/site.js" asp-append-version="true"></script> *@

@await RenderSectionAsync("Scripts", false)
</body>
</html>