@page
@model KampongTalk.Pages.Events.MyEvents.PastEventsModel
@{
}

@functions {

    public string GetDateString(DateTime dt)
    {
        var renderedDateStr = dt.ToLongDateString();
        return renderedDateStr;
    }

}

<div class="tabs is-large">
    <ul>
        <li>
            <a href="/Events/MyEvents">Upcoming Events</a>
        </li>
        <li class="is-active">
            <a href="/Events/MyEvents/PastEvents">Past Events</a>
        </li>
        <li>
            <a href="/Events/MyEvents/MyCreatedEvents">My Events</a>
        </li>
    </ul>
</div>

@if (Model.myPastEvents != null)
{
    @foreach (var myEvent in Model.myPastEvents)
    {
        <a href="/Events/View/@myEvent.Eid">
            <div class="card" style="margin:1% 5% 1%;">
                <div class="card-content">
                    <p class="title is-4">@myEvent.Name</p>
                    <p class="subtitle is-6">@GetDateString(myEvent.Date)<br> @myEvent.StartTime - @myEvent.EndTime</p>
                </div>
            </div>
        </a>
    }
}
else
{
    <h1>No past events</h1>
}
