@model KampongTalk.Pages.Events.ViewModel
@{
}

<link rel="stylesheet" href="~/css/eventForm.css">

<div class="column is-8">
    <figure class="has-text-centered editable-img" id="renderImage">
        <img style="max-width:560px;max-height:360px" id="myImg" src="~/imgs/@Model.myEvent.Img"/>
    </figure>
</div>

<form enctype="multipart/form-data" method="POST" id="editImageForm" asp-action="View">
    <input name="eventImage" type="file" accept="image/*" hidden>
    <input type="hidden" asp-for="@Model.Eid" value="@Model.Eid"/>
    <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId"/>
</form>