@page
@model KampongTalk.Pages.Board.IndexModel
@{
    ViewData["Title"] = "KampongBoard";
}

<link rel="stylesheet" href="~/css/board.css">

<div class="columns is-centered">
    <div class="column pt-5 pl-5">
        <h1 class="title has-text-centered">KampongBoard</h1>
        <aside class="menu">
            <ul class="menu-list">
                <li><a>Friends</a></li>
                <li><a>Reccommended For You</a></li>
            </ul>
        </aside>

        <div class="has-text-centered mt-6">
            <button class="button is-primary is-rounded is-large"
                    onclick="$('#CreatePostModal').fadeIn('fast');">
                <i class="fas fa-pen mr-2"></i>Write Post
            </button>
        </div>
    </div>
    <div class="column is-three-fifths">
        <div class="hero is-fullheight-with-navbar has-background-white-ter" style="overflow-y: auto; height:80vh;">

            @foreach (var newPost in Model.postList)
            {

                <div class="box m-5">
                    <div class="p-4">
                        <div class="userPFP"
                             style="background-image: url('imgs/default.jpg')"></div>
                        <div class="postPriInfo">
                            <span class="has-text-weight-bold is-size-5">John Doe</span><br />
                            <span class="minorInfo" id="InCommunitySpan"> In <a>Community</a></span>
                            <span class="minorInfo" id="taggedUsersSpan">&bull; Tagged <a>User1</a>, <a>User2</a></span>
                        </div>

                        <p class="mt-3 is-size-5">
                            @newPost.Content
                        </p>
                            <br />
                            @*<img id="attachmentImg" class="postImg has-text-centered" src="~/imgs/@newPost.attachmentImg" />*@

                        <br />
                        <div class="has-text-grey-light minorInfo"><span>@newPost.Timestamp</span> <span id="fromWhere">&bull; From Your Friends' Likes</span></div>
                        <hr />
                        <span class="is-size-5 has-text-danger ml-3"><i class="fas fa-heart"></i> 100 Likes</span>
                        <span class="is-size-5 has-text-primary mr-3 is-pulled-right"><i class="fas fa-comment-dots"></i> Show 10 comments </span>
                        <br />

                        <form>
                            <div class="level mt-4">
                                <div class="level-item">
                                    <button class="button is-large is-fullwidth is-danger is-outlined" type="button"><i class="fas fa-heart mr-2"></i>Like</button>
                                </div>
                                <div class="level-item">
                                    <button class="button is-large is-fullwidth is-primary is-outlined" type="button"><i class="fas fa-comment-dots mr-2"></i>Comment</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            }


        </div>
    </div>
    <div class="column">
    </div>
</div>

    <partial name="_CreatePost" />
