@page
@model KampongTalk.Pages.Events.IndexModel
@{
}
<link rel="stylesheet" href="~/css/event.css">

@if (Model.allEvents != null)
{
    <main id="index-section" class="section">
        <div class="container market-listing-container">
            <div class="columns is-multiline is-variable is-5" id="displayedListings">
                @foreach (var myEvent in Model.allEvents)
                {
                    <div class="column is-one-quarter">
                        <a class="listing-clickable" href='/Events/View/@myEvent.Eid'>
                            <div class="box listing-image" style='background-image: url("imgs/Events/@myEvent.Img")'>
                                <div>
                                    <p class="content has-text-white">
                                        @myEvent.Description
                                    </p>
                                </div>
                            </div>
                            <h3 class="title">@myEvent.Name</h3>
                        </a>
                    </div>
                }
            </div>
        </div>
    </main>
}
else
{
    <h1>There are no events now</h1>
}