@page
@using KampongTalk.Models
@model KampongTalk.Pages.Search.Index

@{
    ViewData["Title"] = "Search";
    ViewData["SearchField"] = Model.SearchField;
}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">

                @{
                    var numberOfUsers = Model.SearchResultUsers.Count;
                    if (numberOfUsers == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Users — 0 results</h2>
                        <p>No users found</p>
                        <small class="has-text-grey">If you have the KampongID of the user you are looking for, type @@ followed by the KampongID in the search, to go directly to the user's profile.</small>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Users — @numberOfUsers result(s)</h2>
                        foreach (var user in Model.SearchResultUsers.Take(5))
                        {
                            <a href="/Profile?u=@user.Uid2">
                                <div class="box">
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <div class="pfp-post"></div>
                                            </div>
                                            <div class="level-item">
                                                <div>
                                                    <p class="title is-5">
                                                        @user.Name
                                                        <span class="is-size-6 has-text-grey">&#64;@user.Uid2</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                }

                <hr/>

                @{
                    var numberOfEvents = Model.SearchResultEvents.Count;
                    if (numberOfEvents == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Events — 0 results</h2>
                        <p>No events found</p>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-campground"></i>&ensp;Events — @numberOfEvents result(s)</h2>
                        foreach (var eventObj in Model.SearchResultEvents.Take(5))
                        {
                            <a href="/Events/View/@eventObj.Eid">
                                <div class="box">
                                    <p>@eventObj.Name</p>
                                </div>
                            </a>
                        }
                    }
                }

            </div>
            <div class="column">
                @{
                    if (Model.SearchResultCommunities.Count == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-users"></i>&ensp;Communities <span class="has-text-weight-normal">— No relevant results</span></h2>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-users"></i>&ensp;Communities</h2>
                        <div class="communities-container">
                            @foreach (var community in Model.SearchResultCommunities.Take(6))
                            {
                                <a href="/Community?c=@community.Cid" class="mr-3 m-4">
                                    <div class="card card-new-community" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; width: 19rem; height: 100%">
                                        <div class="card-content">
                                            <div class="has-background-dark card-hero"></div>
                                            <div class="community-icon-search"></div>
                                            <div class="field">
                                                <p class="title is-4">@community.Name</p>
                                                <p class="subtitle is-6">@Index.TrimIfTooLong(community.Description)</p>
                                            </div>

                                            @* <div class="field"> *@
                                            @*     <label class="label">About this community</label> *@
                                            @*     <div class="control"> *@
                                            @*         <textarea class="textarea" rows="5" placeholder="A community where flower lovers can interact. Share pictures of your garden or flowers!" asp-for="NewCommunity.Description" required minlength="20" maxlength="254"></textarea> *@
                                            @*     </div> *@
                                            @*     <small class="has-text-grey">Be descriptive as possible so that more people can find your community.</small> *@
                                            @* </div> *@
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                }
                <hr/>

                @{
                    if (Model.SearchResultPosts.Count == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-sticky-note"></i>&ensp;Posts <span class="has-text-weight-normal">— No relevant results</span></h2>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-sticky-note"></i>&ensp;Posts</h2>
                        foreach (var post in Model.SearchResultPosts)
                        {
                            <partial name="Partials/_Post" model="post" view-data="ViewData"/>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>