@page
@model KampongTalk.Pages.Search.SearchTest

@{
    Layout = null;
}

<form method="post">
    <input asp-for="SearchQuery" placeholder="Search here"/>
    <button type="submit">Go</button>
</form>

<p>@Html.Raw(Model.SearchResult)</p>