@page
@model KampongTalk.Pages.Accounts.Recover

@{
    ViewData["Title"] = "Recover Account";
}

<style>
    #authSection {
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<section id="authSection" class="section">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">Recover Account</h1>
            <p class="subtitle">Reset your password using your linked phone number.</p>
        </div>
        <br/>

        <form method="post">
            <div class="field">
                <label class="label">@Model.LangData.accounts.phoneNumber</label>
                <div class="control has-icons-left">
                    <input class="input @Model.FieldClass" type="tel" placeholder="91234567" maxlength="8" asp-for="LoginPhoneNumber" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>
            </div>
            @{
                if (Model.ShowErrorMessage)
                {
                    <div id="errormessage" class="notification is-danger is-light">
                        <a class="delete" onclick="$('#errormessage').slideUp()"></a>
                        This phone number doesn't seem to be linked with any KampongTalk account.<br/>
                    </div>
                }
            }
            <button class="button is-primary" type="submit"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.login</button>
        </form>
    </div>
</section>