@page
@model KampongTalk.Pages.Accounts.Register

@{
    ViewData["Title"] = "Register";
}

<style>
    #registerSection {
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<section id="registerSection" class="section">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">Create your KampongTalk Account</h1>
            <p class="subtitle">Connect with your close friends and those close to heart.</p>
        </div>
        <br/>

        <form method="post">
            @* <section id="signup-step1"> *@
            @* <h3 class="title is-5">About you</h3> *@
            <div class="field">
                <label class="label">Full name</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Biggus Dickus" asp-for="NewUserAccount.Name" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input @Model.PasswordInputClass" type="password" placeholder="••••••••" asp-for="NewUserPassword" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <small class="has-text-grey">@Html.Raw(Model.PasswordWarn)</small>
            </div>
            @* <a class="button is-light" onclick="changeStepForward(2)">Continue</a> *@
            @* </section> *@

            @* <section id="signup-step2" style="display: none"> *@

            <hr/>
            @* <h3 class="title is-5">Contact information</h3> *@
            <p>We will use your phone number to recover your account in the event you forget your password.</p>
            <br/>
            <div class="field">
                <label class="label">Mobile Number</label>
                <div class="control has-icons-left">
                    <input class="input @Model.PhoneInputClass" type="tel" placeholder="91234567" asp-for="NewUserAccount.PhoneNumber" maxlength="8" minlength="8" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>
                <small class="has-text-danger">@Html.Raw(Model.PhoneWarn)</small>
                <small class="has-text-grey">We will verify the number via SMS in the next step.</small>
            </div>
            @* <a class="button is-light" onclick="changeStepBackward(1)">Back</a> *@
            @* </section> *@

            <button class="button is-primary" type="submit"><i class="fas fa-arrow-right"></i>&ensp;Create account</button>
        </form>
    </div>
</section>