@page
@model KampongTalk.Pages.DigitalVoidDeck.LobbyModel
@{
}

<link rel="stylesheet" href="~/css/DigiVoid.css">

<!-- Tune when hovering over button-->
<audio preload="auto" id="chime" src="/audio/navMapChime.mp3"
       style="width: 100%;">
</audio>

<section class="section" data-title="Welcome to the Void Deck!" data-intro="Here, you can find and meet new people in the neighbourhood.">
    <div class="iconDiv">
        <a href="/index">
            <img src="~/imgs/BackButton.png" style=" height: 3vh; right: 5px;" />
        </a>
    </div>

    <div class="container mb-3 has-text-centered">
        <h1 class="subtitle has-text-weight-bold" style="font-size: 65px"> Digital Void deck</h1>
    </div>


    

    <!-- Digital Void deck map-->
    <div class="container has-text-centered" style="position:relative;">
        <img src="~/imgs/DigiVoidMap1.png" style=" top: 5vh; height: 80vh; z-index: 1; position: relative;" />




        <!-- Chatrooms icon -->
        <a href="/DigitalVoidDeck/Chatroom3">
            <div class="iconDiv expandDiv" style="top: 34vh; left: 20vw;" data-title="Chat" data-intro="chatroom 3">
                <img src="~/imgs/ButtonIcon.png" style="height:8vh;" />
                <p>
                    <span class="tag is-dark is-large has-text-weight-bold">chatroom 3</span>
                </p>
            </div>
        </a>


        <a href="/DigitalVoidDeck/Chatroom">
            <div class="iconDiv expandDiv" style="top: 12vh; left: 27vw;" data-title="Chat" data-intro="chatroom">
                <img src="~/imgs/ButtonIcon.png" style="height:8vh;" />
                <p>
                    <span class="tag is-dark is-large has-text-weight-bold">chatroom 1</span>
                </p>
            </div>
        </a>


        <a href="/DigitalVoidDeck/Chatroom2">
            <div class="iconDiv expandDiv" style="top: 40vh; left: 10vw;" data-title="Chat" data-intro="chatroom 2">
                <img src="~/imgs/ButtonIcon.png" style="height:8vh;" />
                <p>
                    <span class="tag is-dark is-large has-text-weight-bold">chatroom 2</span>
                </p>
            </div>
        </a>


        <a href="/DigitalVoidDeck/Chatroom5">
            <div class="iconDiv expandDiv" style="top: 37vh; right: 14vw;" data-title="Chat" data-intro="chatroom 5">
                <img src="~/imgs/ButtonIcon.png" style="height:8vh;" />
                <p>
                    <span class="tag is-dark is-large has-text-weight-bold">chatroom 5</span>
                </p>
            </div>
        </a>


        <a href="/DigitalVoidDeck/Chatroom4">
            <div class="iconDiv expandDiv" style="top: 35vh; left: 36vw;" data-title="Chat" data-intro="chatroom 4">
                <img src="~/imgs/ButtonIcon.png" style="height:8vh;" />
                <p>
                    <span class="tag is-dark is-large has-text-weight-bold">chatroom 4</span>
                </p>
            </div>
        </a>



        <a href="/DigitalVoidDeck/Chatroom6">
            <div class="iconDiv expandDiv" style="top: 50vh; left: 27vw;" data-title="Chat" data-intro="chatroom 6">
                <img src="~/imgs/ButtonIcon.png" style="height:8vh;" />
                <p>
                    <span class="tag is-dark is-large has-text-weight-bold">chatroom 6</span>
                </p>
            </div>
        </a>




    </div>
    <!-- END: KT Nav Map -->


</section>

<script>
    /* Audio tune function */
    window.addEventListener('load', function () {
        var iconDiv = document.getElementsByClassName('iconDiv');
        var chime = document.getElementById('chime');
        chime.volume = 0.5;
        var audios = document.querySelectorAll('audio');

        var playAudio = function () {
            [].forEach.call(audios, function (audio) {
                audio.play();
            });
        }

        var stopAudio = function () {
            chime.pause();
            chime.currentTime = 0;
        }

        for (var i = 0; i < iconDiv.length; i++) {
            iconDiv[i].addEventListener('mouseover', playAudio, false);
            iconDiv[i].addEventListener('mouseleave', stopAudio, false);
        }
    })

</script>

<script defer>
    setTimeout(function () {
        if (window.location.hash === '#walkthrough') {
            introJs().start()
        }
    }, 10);
</script>