@page
@model KampongTalk.Pages.DigitalVoidDeck.LobbyModel
@{
}

<link rel="stylesheet" href="~/css/DigiVoid.css">

<!-- Tune when hovering over button-->
<audio preload="auto" id="chime" src="/audio/navMapChime.mp3"
       style="width: 100%;">
</audio>

<section class="section">
    <div class="iconDiv">
        <a href="/index">
            <img src="~/imgs/BackButton.png" style=" height: 3vh; right: 5px;" />
        </a>
    </div>

    <div class="container mb-3 has-text-centered">
        <h1 class="subtitle has-text-weight-bold" style="font-size: 65px"> Digital Void deck</h1>
    </div>


    

    <!-- Digital Void deck map-->
    <div class="container has-text-centered" style="position:relative;">
        <img src="~/imgs/DigiVoidMap.png" style=" height: 100vh;  position: relative;" />


        <!-- Chatrooms-->
        <div class="iconDiv" style="top:32vh; left:20vw;">
            <a href="/DigitalVoidDeck/Chatroom3">
                <img src="~/imgs/ButtonIcon.png" style="height:10vh;" />
                <p class="iconTitle is-size-5">Chatroom 3</p>
            </a>
        </div>

        
        <div class="iconDiv" style="top:8vh; left:27vw;">
            <a href="/DigitalVoidDeck/Chatroom">
                <img src="~/imgs/ButtonIcon.png" style="height:10vh;" />
                <p class="iconTitle is-size-5">Chatroom 1</p>
            </a>
        </div>


        <div class="iconDiv" style="top:35vh; left:10vw;">
            <a href="/DigitalVoidDeck/Chatroom2">
                <img src="~/imgs/ButtonIcon.png" style="height:10vh;" />
                <p class="iconTitle is-size-5">Chatroom 2 </
            </a>
        </div>


        <div class="iconDiv" style="top:35vh; right:16vw;">
            <a href="/DigitalVoidDeck/Chatroom5">
                <img src="~/imgs/ButtonIcon.png" style="height:10vh;" />
                <p class="iconTitle is-size-5">Chatroom 5 </p>
            </a>
        </div>


        <div class="iconDiv" style="top:32vh; left:34vw;">
            <a href="/DigitalVoidDeck/Chatroom4">
                <img src="~/imgs/ButtonIcon.png" style="height:10vh;" />
                <p class="iconTitle is-size-5">Chatroom 4</p>
            </a>
        </div>


        <div class="iconDiv" style="top:50vh; left:27vw;">
            <a href="/DigitalVoidDeck/Chatroom6">
                <img src="~/imgs/ButtonIcon.png" style="height:10vh;" />
                <p class="iconTitle is-size-5">Chatroom 6</p>
            </a>
        </div>


    </div>
    <!-- END: KT Nav Map -->


</section>

<script>
    /* Audio tune function */
    window.addEventListener('load', function () {
        var iconDiv = document.getElementsByClassName('iconDiv');
        var chime = document.getElementById('chime');
        chime.volume = 0.5;
        var audios = document.querySelectorAll('audio');

        var playAudio = function () {
            [].forEach.call(audios, function (audio) {
                audio.play();
            });
        }

        var stopAudio = function () {
            chime.pause();
            chime.currentTime = 0;
        }

        for (var i = 0; i < iconDiv.length; i++) {
            iconDiv[i].addEventListener('mouseover', playAudio, false);
            iconDiv[i].addEventListener('mouseleave', stopAudio, false);
        }
    })

</script>