

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.userPFP {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.userPFPcomment {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* Post's primary info includes: Author, Community, Tagged People*/
.postPriInfo {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
}

.minorInfo {
    font-size: 0.85rem;
}

.postImg {
    display: block;
    height: 35vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    object-position:center;
    border: 2px solid #dbdbdb;
}


.card-top {
    padding: 1.5rem 1.5rem 0;
    background: linear-gradient(180deg, rgba(72,136,149,0.4) 15%, rgba(255,255,255,0.4) 100%);
}

.card-meta {
    padding: 1rem 1.5rem 0;
    background: rgba(72,136,149,0.4)
}

    .card-meta + .card-top {
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

.pfp-post {
    height: 3rem;
    width: 3rem;
    border: .2rem solid white;
    border-radius: 9999rem;
    margin-top: -.5rem;
    margin-bottom: -.75rem;
}

.post-buttons:hover {
    transform: scale(2);
    filter: brightness(10%);
}
