.form-input-50 {
    width: 50% !important;
}

.form-input-70 {
    width: 70% !important;
}


.editable-img: hover {
    webkit - filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}