/*@media screen and (max-width: 1120px) {
    #fullview {
        display: none;
    }
}

@media only screen and (min-width: 1120px){
    #halfview {
        display: none;
    }
    
}*/

.iconDiv {
    position: absolute;
    z-index: 2;
    padding: 0px;
}

.iconDiv:hover {
    transform: scale(1.1);
    filter: brightness(85%);
}

.iconLabelEnt {
    font-weight: bold;
    color: #FF6E17;
}

.iconLabelSoc {
    font-weight: bold;
    color: #5AADF7;
}

.iconLabelHelp {
    font-weight: bold;
    color: #086D54;
}

.iconLabelMe {
    font-weight: bold;
    color: #880837;
}
