/*@media all and (max-width: 1120px) {
    #fullview {
        display: none;
    }
    #halfview {
        display: block;
    }
}

@media all and (min-width: 1121px) {
    #halfview {
        display: none;
    }
    #fullview {
        display:block;
    }
}*/

body{
    min-width: 450px;
}

.iconDiv {
    position: absolute;
    z-index: 2;
    padding: 0px;
}

.expandDiv:hover {
    transform: scale(1.1);
    filter: brightness(80%);
}
/*
.iconLabelEnt {
    font-weight: bold;
    color: #FF6E17;
}

.iconLabelSoc {
    font-weight: bold;
    color: #5AADF7;
}

.iconLabelHelp {
    font-weight: bold;
    color: #086D54;
}

.iconLabelMe {
    font-weight: bold;
    color: #880837;
}
*/