.pfp {
    height: 12rem;
    width: 12rem;
    background: grey;
    border: .7rem solid white;
    border-radius: 9999rem;
    position: absolute;
}

.pfp-small {
    height: 8rem;
    width: 8rem;
    background: grey;
    border: .5rem solid white;
    border-radius: 9999rem;
    position: absolute;
    top: 3rem;
}

.community-icon {
    height: 12rem;
    width: 12rem;
    background: grey;
    border: .7rem solid white;
    border-radius: 5rem;
    position: absolute;
}

.community-icon-small {
    height: 8rem;
    width: 8rem;
    background: grey;
    border: .5rem solid white;
    border-radius: 3rem;
    position: absolute;
    top: 2rem;
}

.community-icon-explore {
    height: 8rem;
    width: 8rem;
    background: grey;
    /*border: .5rem solid white;*/
    border-radius: 3rem;
}

.pfp-post {
    height: 3rem;
    width: 3rem;
    background: grey;
    border: .2rem solid white;
    border-radius: 9999rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

.community-icon-search {
    height: 5rem;
    width: 5rem;
    background: grey;
    border: .35rem solid white;
    border-radius: 2.25rem;
    margin-top: -3.5rem;
}

.card-hero-user {
    background: grey;
    /*width: 19rem;*/
    height: 8em;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: -1.5rem -1.5rem 1.5rem;
}

.card-hero-community {
    background: grey;
    /*width: 19rem;*/
    height: 4em;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin: -1.5rem -1.5rem 1.5rem;
}

.pfp-edit {
    padding-top: 25%;
    opacity: 0;
    transition: opacity 0.25s ease;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 99999rem;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255,255,255,.3);
}

.banner-edit {
    padding-top: 2rem;
    opacity: 0;
    transition: opacity 0.25s ease;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255,255,255,.3);
}

.pfp-edit:hover, .banner-edit:hover {
    opacity: 1;
}

.pfp-edit i, .banner-edit i {
    text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.42);
}


.card-top {
    padding: 1.5rem 1.5rem 0;
}

.card-meta {
    padding: 1rem 1.5rem 0;
}

.card-meta + .card-top {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.communities-container {
    height: 19rem;
    overflow-x: auto;
    display: flex;
}

.communities-container > * {
    display: inline-block;
    flex-shrink: 0;
}

.userPFP {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.modal-background {
    background: rgba(0,0,0,.8);
    backdrop-filter: saturate(180%) blur(20px);
}

.modal-content {
    animation: showModal 0.25s ease-in-out;
}

@keyframes showModal {
    0% {
        transform: scale(0.88);
    }
    100% {
        transform: scale(1);
    }
}

.navbar {
    transition: background-color 0.25s ease-in-out;
}

.turbolinks-progress-bar {
    display: none !important;
}

.view-more-item > div {
    border-bottom: 1px solid lightgrey;
}

.view-more-item:last-child > div {
    border-bottom: none;
}

.postImg {
    display: block;
    height: 35vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: center;
    border: 2px solid #dbdbdb;
}

.postImg:hover {
    filter: brightness(70%);
    border: 2px solid white;
}