@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/navMap.css">

<audio preload="auto" id="chime" src="/audio/navMapHover.mp3"
       style="width: 100%;">
</audio>

<section class="section" id="fullview" style="display:block;">
    <div class="columns">

        <!-- START: Main Column -->
        <div class="column is-four-fifths-desktop">
            @*<div class="container mb-3 has-text-centered">
            <h1 class="subtitle has-text-weight-bold">Welcome to Kampong Talk</h1>
        </div>*@

            <!-- START: KT Nav Map-->
            <div class="container has-text-centered" style="position:relative;">
                <img src="~/imgs/NavMap/KT_MapBG.png" style="top: 5vh; height: 80vh; z-index: 1; position: relative;" />

                <!-- ChatIcon -->
                <a href="">
                    <div class="iconDiv expandDiv" style="top: 0vh; left: 14vw;">
                        <img src="~/imgs/NavMap/Chat_Icon.png" class="navMapIcon" />
                        <p><span class="tag is-dark is-large has-text-weight-bold">Chats</span></p>
                    </div>
                </a>

                <!-- CommunitiesIcon -->
                <a href="">
                    <div class="iconDiv expandDiv" style="top:0vh; left:38vw;">
                        <img src="~/imgs/NavMap/Communities_Icon.png" class="navMapIcon" style="height:25vh;" />
                        <p><span class="tag is-dark is-large has-text-weight-bold">Communities</span></p>

                    </div>
                </a>

                <!-- VoidDeckIcon -->
                <a href="/DigitalVoidDeck/Lobby">
                    <div class="iconDiv expandDiv" style="top:0vh; left:51vw;">
                        <img src="~/imgs/NavMap/Void_Deck.png" class="navMapIcon" />
                        <p><span class="tag is-dark is-large has-text-weight-bold">Void Deck</span></p>
                    </div>
                </a>

                <!-- BoardIcon -->
                <a href="/Board">
                    <div class="iconDiv expandDiv" style="top:21vh; left:25vw;">
                        <img src="~/imgs/NavMap/Board_Icon.png" class="navMapIcon" />
                        <p><span class="tag is-dark is-large has-text-weight-bold">Board</span></p>
                    </div>
                </a>

                <!-- SupportIcon -->
                <a href="">
                    <div class="iconDiv expandDiv" style="top:47vh; left:14vw;">
                        <!--SupportLink-->
                        <img src="~/imgs/NavMap/Support_Icon.png" class="navMapIcon" />
                        <p><span class="tag is-dark is-large has-text-weight-bold">Support</span></p>
                    </div>
                </a>

                <!-- EventsIcon -->
                <a href="/Events">
                    <div class="iconDiv expandDiv" style="top:38vh; left:40vw;">
                        <img src="~/imgs/NavMap/Events_Icon.png" class="navMapIcon" style="height:25vh;" />
                        <p><span class="tag is-dark is-large has-text-weight-bold">Events</span></p>

                    </div>
                </a>

            </div>
            <!-- END: KT Nav Map -->

        </div>
        <!-- END: Main Column -->

        <div class="column">

            <p><button class="button is-light"><i class="fas fa-times"></i>&ensp;Close Map</button></p>
            <br />

            <div class="is-pulled-left">

                <div class="has-text-centered expandDiv">
                    <a href="">
                        <button class="button is-large is-primary">
                            <span class="icon is-medium">
                                <i class="fas fa-user-friends"></i>
                            </span>
                        </button>
                    </a>
                    <p class="has-text-weight-bold">Friends</p>
                </div>
                <br />

                <div class="has-text-centered expandDiv">
                    <a href="/Profile?u=@Model.CurrentUser.Uid2">
                        <button class="button is-large is-primary">
                            <span class="icon is-medium">
                                <i class="fas fa-user"></i>
                            </span>
                        </button>
                    </a>
                    <p class="has-text-weight-bold">Profile</p>
                </div>
                <br />

                <div class="has-text-centered expandDiv">
                    <a href="/Settings">
                        <button class="button is-large is-primary">
                            <span class="icon is-medium">
                                <i class="fas fa-cog"></i>
                            </span>
                        </button>
                    </a>
                    <p class="has-text-weight-bold">Settings</p>
                </div>
            </div>
        </div>
        </div>
</section>

<section class="section" id="halfview">

    <div class="container">
        <a href="/Board">
            <div class="box is-inline-block m-2 has-text-centered" style="width:40vw;">
                <img src="~/imgs/NavMap/Board_Icon.png" style="height:15vh;" class="mt-3" />
                <p class="is-size-4 has-text-centered">Board</p>
            </div>
        </a>
        <a href="">
            <div class="box is-inline-block m-2 has-text-centered" style="width: 40vw;">
                <img src="~/imgs/NavMap/Communities_Icon.png" style="height:15vh;" class="mt-3" />
                <p class="is-size-4 has-text-centered">Communities</p>
            </div>
        </a>
        <a href="/DigitalVoidDeck/Lobby">
            <div class="box is-inline-block m-2 has-text-centered" style="width: 40vw;">
                <img src="~/imgs/NavMap/Void_Deck.png" style="height:15vh;" class="mt-3" />
                <p class="is-size-4 has-text-centered">Void Deck</p>
            </div>
        </a>
        <a href="/Events">
            <div class="box is-inline-block m-2 has-text-centered" style="width: 40vw;">
                <img src="~/imgs/NavMap/Events_Icon.png" style="height:15vh;" class="mt-3" />
                <p class="is-size-4 has-text-centered">Events</p>
            </div>
        </a>

    </div>
    <br />

    <aside class="menu">

        @*<p class="menu-label">
            Community
        </p>
        <ul class="menu-list">
            <li><a>Board</a></li>
            <li><a>Communities</a></li>
            <li><a>Void Deck</a></li>
            <li><a>Events</a></li>
        </ul>
        <br />*@

        <p class="menu-label">
            Social
        </p>
        <ul class="menu-list">
            <li><a><i class="fas fa-comment"></i>&ensp;Chats</a></li>
            <li><a><i class="fas fa-user-friends"></i>&ensp;Friends</a></li>
        </ul>
        <br />

        <p class="menu-label">
            My Account
        </p>
        <ul class="menu-list">
            <li><a><i class="fas fa-user-circle"></i>&ensp;Profile</a></li>
            <li><a><i class="fas fa-cog"></i>&ensp;Settings</a></li>
        </ul>
        <br />

        <p class="menu-label">
            Help
        </p>
        <ul class="menu-list">
            <li><a><i class="fas fa-headset"></i>&ensp;Support</a></li>
        </ul>

    </aside>
</section>

<script>

    window.addEventListener('load', function () {
        adjustView()
        var icons = document.getElementsByClassName('navMapIcon');
        var chime = document.getElementById('chime');
        /*chime.volume = 0.5;*/
        var audios = document.querySelectorAll('audio');

        var playAudio = function () {
            [].forEach.call(audios, function (audio) {
                audio.play();
            });
        }

        var stopAudio = function () {
            chime.pause();
            chime.currentTime = 0;
        }

        for (var i = 0; i < icons.length; i++) {
            icons[i].addEventListener('mouseover', playAudio, false);
            icons[i].addEventListener('mouseleave', stopAudio, false);
        }
    })

    window.addEventListener("resize", adjustView)

    function adjustView() {
        var map = document.getElementById("fullview")
        var altview = document.getElementById("halfview")
        if (!window.matchMedia("(min-width: 1120px)").matches) {
            map.classList.add("is-hidden")
            altview.classList.remove("is-hidden")
        }
        else {
            map.classList.remove("is-hidden")
            altview.classList.add("is-hidden")
        }
    }

</script>