@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/navMap.css">

<audio preload="auto" id="chime" src="/audio/navMapHover.mp3"
       style="width: 100%;">
</audio>

<section class="section">
    <div class="columns">

        <!-- START: Main Column -->
        <div class="column is-four-fifths-desktop">
            <div class="container mb-3 has-text-centered">
                <h1 class="subtitle has-text-weight-bold">Welcome to Kampong Talk</h1>
            </div>

            <!-- START: KT Nav Map-->
            <div class="container has-text-centered" style="position:relative;">
                <img src="~/imgs/NavMapBG.png" style="height: 80vh; z-index:1; position:relative;"/>

                <!-- ChallengesIcon -->
                <a href="">
                    <div class="iconDiv" style="top:10vh; left:17vw;">
                        <!--ChallengesLink-->
                        <img src="~/imgs/NavMap_ChallengesIcon.png" style="height:14vh;" class="navMapIcon"/>
                        <p class="iconLabelEnt is-size-5">Challenges</p>
                    </div>
                </a>

                <!-- EventsIcon -->
                <a href="/Events">
                    <div class="iconDiv" style="top:4vh; left:30vw;">
                        <!--EventsLink-->
                        <img src="~/imgs/NavMap_EventsIcon.png" style="height:17vh;" class="navMapIcon"/>
                        <p class="iconLabelEnt is-size-4">Events</p>
                    </div>
                </a>

                <!-- InboxIcon -->
                <a href="">
                    <div class="iconDiv" style="top:35vh; left:10vw;">
                        <!--InboxLink-->
                        <img src="~/imgs/NavMap_InboxIcon.png" style="height:10vh;" class="navMapIcon"/>
                        <p class="iconLabelSoc is-size-5">Inbox</p>
                    </div>
                </a>

                <!-- VoidDeckIcon -->
                <a href="">
                    <div class="iconDiv" style="top:28vh; left:37vw;">
                        <!--VoidDeckLink-->
                        <img src="~/imgs/NavMap_VoidDeckIcon.png" style="height:13vh;" class="navMapIcon"/>
                        <p class="iconLabelSoc is-size-5">Void Deck</p>
                    </div>
                </a>

                <!-- BoardIcon -->
                <a href="/Board">
                    <div class="iconDiv" style="top:31vh; left:20vw;">
                        <!--BoardLink-->
                        <img src="~/imgs/NavMap_BoardIcon.png" style="height:22vh;" class="navMapIcon"/>
                        <p class="iconLabelSoc is-size-4">Board</p>
                    </div>
                </a>

                <!-- ProfileIcon -->
                <a href="">
                    <div class="iconDiv" style="top:23vh; left:51vw;">
                        <!--ProfileLink-->
                        <img src="~/imgs/NavMap_ProfileIcon.png" style="height:10vh;" class="navMapIcon"/>
                        <p class="iconLabelMe is-size-5">My Profile</p>
                    </div>
                </a>

                <!-- SettingsIcon -->
                <a href="">
                    <div class="iconDiv" style="top:41vh; left:55vw;">
                        <!--SettingsLink-->
                        <img src="~/imgs/NavMap_SettingsIcon.png" style="height:8vh;" class="navMapIcon"/>
                        <p class="iconLabelMe is-size-6">Settings</p>
                    </div>
                </a>

                <!-- GuidesIcon -->
                <a href="">
                    <div class="iconDiv" style="top:52vh; left:34vw;">
                        <!--GuidesLink-->
                        <img src="~/imgs/NavMap_GuidesIcon.png" style="height:15vh;" class="navMapIcon"/>
                        <p class="iconLabelHelp is-size-4">Help</p>
                    </div>
                </a>

                <!-- SupportIcon -->
                <a href="">
                    <div class="iconDiv" style="top:42vh; left:47vw;">
                        <!--SupportLink-->
                        <img src="~/imgs/NavMap_SupportIcon.png" style="height:12vh;" class="navMapIcon"/>
                        <p class="iconLabelHelp is-size-5">Support</p>
                    </div>
                </a>

            </div>
            <!-- END: KT Nav Map -->

        </div>
        <!-- END: Main Column -->
        <!-- START: Notification bar -->
        <div class="column has-background-white-bis">
            <p>Notifications Go Here</p>
            <!-- I'll make the notif partial later-->
        </div>
        <!-- END: Notification bar -->
    </div>
</section>

<script>

    window.addEventListener('load', function () {
        var icons = document.getElementsByClassName('navMapIcon');
        var chime = document.getElementById('chime');
        /*chime.volume = 0.5;*/
        var audios = document.querySelectorAll('audio');

        var playAudio = function () {
            [].forEach.call(audios, function (audio) {
                audio.play();
            });
        }

        var stopAudio = function () {
            chime.pause();
            chime.currentTime = 0;
        }

        for (var i = 0; i < icons.length; i++) {
            icons[i].addEventListener('mouseover', playAudio, false);
            icons[i].addEventListener('mouseleave', stopAudio, false);
        }
    })

</script>