@page
@model KampongTalk.Pages.SuccessModel
@{
}
<body>
    <br />
    <br />
    <br />

    <img src="~/imgs/successIcon.png" style=" height: 30vh;  position: relative;" />

    <br />
    <h1> <strong>@Model.LangData.support.successmessage</strong></h1>
    <br />
    <br />
    <div class="homebutton">
        <a href="/index" class="button is-info">@Model.LangData.support.homebutton</a>
    </div>
</body>


























<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        text-align: center;
    }

    .homebutton:hover {
        transform: scale(1.2); 
    }

</style>