@page
@model KampongTalk.Pages.SupportModel
@{
}

<link rel="stylesheet" href="~/css/Support.css">


&nbsp;
<section id="contact-form">
    <h2>Contact</h2>
    <form id="contact" name="contact" accept-charset="utf-8">
        <label>
            <span>Name</span><input name="name" type="text" placeholder="Name"/>
        </label>

        <label>
            <span>Message</span><textarea name="message" placeholder="Enter your message"></textarea>
        </label>
        <input name="submit" type="submit" class="btn btn-primary"/>
    </form>
    <aside>
        <p style="font-size:20px"><strong>Contact Hotline: </strong> +65 9000 9000</p>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <p style="font-size:20px"><strong> Address: </strong> 180 Ang Mo Kio Ave 8, Singapore 569830</p>

    </aside>
</section>
&nbsp;